<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <appSettings>
      <!--Flight Schedule Source File-->
      <add key="FlightScheduleSourceFile" value="C:\Users\pksah\source\repos\Air-Tek Coding Exercise\Air-Tek Coding Exercise\flightSchedule.json" />
      <add key="MultipleFlightScheduleSourceFile" value="C:\Users\pksah\source\repos\Air-Tek Coding Exercise\Air-Tek Coding Exercise\multiFlightSchedule.json" />
      <add key="OrdersFile" value="C:\Users\pksah\source\repos\Air-Tek Coding Exercise\Air-Tek Coding Exercise\coding-assigment-orders.json" />
      <add key="LogFile" value="C:\Users\pksah\source\repos\Air-Tek Coding Exercise\Air-Tek Coding Exercise\Air-Tek.Log" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>